# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/.yarn/install-state.gz
/backend/node_modules
/node_modules

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/backend/.DS_Store
/client/*.pem


# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts

# lock files
/client/package-lock.json
/client/yarn.lock
/client/pnpm-lock.yaml

# Next.js files
# /client/.next/            # The build output folder
# /client/node_modules/     # The node modules folder
# /client/out/              # The dist folder
/client/next-env.d.ts

# Env files
/client/.env.local
/client/.env  
/backend/.env.local
/backend/.env
.DS_Store

/backend/prisma/migrations/
