@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #666464;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1a0ea4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Target the section */
section.py-20.custom{
    background-color: #4d4d4d; /* Change to your desired background color */
    color: #ffffff; /* Change to your desired font color */
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
